<h2>Part 2: Industry & Business Overview</h2>

<div class="question-container">
    <p>Q3 What digital services, if any, do you expand in the past year & plan to expand in the 2016 that were previously handled by your external partners?</p>

    <ul>
        <li>
            <input type="checkbox" checklist-model="ans3" value="1" /> Online Customer Satisfaction Survey</li>
        <li>
            <input type="checkbox" checklist-model="ans3" value="2" /> Analytics</li>
        <li>
            <input type="checkbox" checklist-model="ans3" value="3" /> SEO</li>
        <li>
            <input type="checkbox" checklist-model="ans3" value="4" /> Email marketing</li>
        <li>
            <input type="checkbox" checklist-model="ans3" value="5" /> SEM</li>
        <li>
            <input type="checkbox" checklist-model="ans3" value="6" /> Social Listening</li>
        <li>
            <input type="checkbox" checklist-model="ans3" value="7" /> Everything</li>
        <li>
            <input type="checkbox" checklist-model="ans3" value="8" /> Content creation & Video production</li>
        </li>
    </ul>
</div>

<ul class="pager">
    <li class="previous"><a ui-sref="quest2({ uid: uid_ })">&larr; Back</a></li>
    <li class="next"><a ng-click="goToQuest4()">Next &rarr;</a></li>
</ul>
