<h2>Part 2: Industry & Business Overview</h2>

<div class="question-container">
    <p>3.โดยรวมลูกค้าของคุณจับตามองเครื่องมือโฆษณาดิจิทัลตัวไหน และคิดว่าเครื่องมือใหม่ๆตัวไหนจะมีบทบาทสำคัญในปี 2017(ตอบได้มากกว่า 1 ข้อ)</p>

    <ul>
        <li>
            <input type="checkbox" checklist-model="ans3" value="1" /><span class="choice">Social Listening Tool</span></li>
        <li>
            <input type="checkbox" checklist-model="ans3" value="2" /><span class="choice">Data Analytic Platform (Ad-Serve/ Data Management Platform)</span></li>
        <li>
            <input type="checkbox" checklist-model="ans3" value="3" /><span class="choice">Programmatic (DSP/SSP)</span></li>
        <li>
            <input type="checkbox" checklist-model="ans3" value="4" /><span class="choice">Ecommerce</span></li>
        <li>
            <input type="checkbox" checklist-model="ans3" value="5" /><span class="choice">Messaging App</span></li>
        <li>
            <input type="checkbox" checklist-model="ans3" value="6" /><span class="choice">Bid Optimization Tools</span></li>
        <li>
            <input type="checkbox" checklist-model="ans3" value="7" /><span class="choice">Real Time Media, Dashboard, Monitoring Tools</span></li>
    </ul>
</div>

<ul class="pager">
    <li class="previous"><a ui-sref="quest2({ uid: uid_ })">&larr; Back</a></li>
    <li class="next"><a ng-click="goToQuest4()">Next &rarr;</a></li>
</ul>
