<h2>Part 2: Industry & Business Overview</h2>

<div class="question-container">
	<p>Q2 Please rank the percentage of change for digital advertising spend that you
expect for your clients in 2016?</p>

<div class="row">
    <div class="col-md-2 text-right">-100%</div>
    <div class="col-md-6">
        <rzslider rz-slider-model="slider.value" rz-slider-options="slider.options"></rzslider>
    </div>
    <div class="col-md-2">100%</div>
</div>

<ul class="pager">
  <li class="previous"><a  ui-sref="quest1({ uid: uid_ })">&larr; Back</a></li>
  <li class="next"><a  ng-click="goToQuest3()">Next &rarr;</a></li>
</ul>