<h2>Part 2: Industry & Business Overview</h2>

<div class="question-container">
    <p>Q2 Which of the following best describes most of your clients objectives for digital ad spend?</p>

    <ul>
        <li>
            <input type="checkbox" checklist-model="ans2" value="1" /> Create/Increase Brand awareness</li>
        <li>
            <input type="checkbox" checklist-model="ans2" value="2" /> Increase Sale</li>
        <li>
            <input type="checkbox" checklist-model="ans2" value="3" /> Create/Boost E-commerce channel</li>
        <li>
            <input type="checkbox" checklist-model="ans2" value="4" /> Create/Increase/tighten Engagement</li>
        <li>
            <input type="checkbox" checklist-model="ans2" value="5" /> Product/Service/Business PR</li>
        <li>
            <input type="checkbox" checklist-model="ans2" value="6" /> Product/Service/Business CRM</li>
        <li>
            <input type="checkbox" checklist-model="ans2" value="7" /> Other, please specify
            <input type="text" ng-model="ans27" class="form-control" style="width: 200px; display: inline;" />
        </li>
    </ul>
</div>

<ul class="pager">
    <li class="previous"><a ui-sref="quest1({ uid: uid_ })">&larr; Back</a></li>
    <li class="next"><a ng-click="goToQuest3()">Next &rarr;</a></li>
</ul>
