<h2>Part 2: Industry & Business Overview</h2>

<div class="question-container">
    <p>2.หากแบ่งประเภทของงานโฆษณาดิจิทัลตามวัตถุประสงค์ของงานโฆษณาดิจิทัลที่ลูกค้าได้บรีฟให้กับเอเยนซี่ทั้งหมดปัจจุบันงบโฆษณาดิจิทัลถูกนำไปใช้ตอบโจทย์ใด ในสัดส่วนเท่าไร(ผลรวมสัดส่วนต้องเท่ากับ 100% )</p>

    <ul>
        <li>
            Increase Awareness / Reach
            <input type="text" ng-model="ans2[1]" numbers-only class="form-control answer-box"/>%</li>
        <li>
            Branding
            <input type="text" ng-model="ans2[2]" numbers-only class="form-control answer-box"/>%</li>
        <li>
            Engagement Consumer
            <input type="text" ng-model="ans2[3]" numbers-only class="form-control answer-box"/>%</li>
        <li>
            CSR
            <input type="text" ng-model="ans2[4]" numbers-only class="form-control answer-box"/>%</li>
        <li>
            Drive sales to offline channel
            <input type="text" ng-model="ans2[5]" numbers-only class="form-control answer-box"/>%</li>
        <li>
            Drive sales to online channel
            <input type="text" ng-model="ans2[6]" numbers-only class="form-control answer-box"/>%</li>
        <li>
            E-commerce
            <input type="text" ng-model="ans2[7]" numbers-only class="form-control answer-box"/>%</li>
        <li>
            CRM & Customer service
            <input type="text" ng-model="ans2[8]" numbers-only class="form-control answer-box"/>%</li>
        <li>
            Lead Generation
            <input type="text" ng-model="ans2[9]" numbers-only class="form-control answer-box"/>%</li>
        <li>
            PR
            <input type="text" ng-model="ans2[10]" numbers-only class="form-control answer-box"/>%</li>
        <li>
            Others
            <input type="text" ng-model="ans2other" placeholder="Others" class="form-control answer-box"/>
            <input type="text" ng-model="ans2[11]" numbers-only class="form-control answer-box"/>%</li>
    </ul>
</div>

<ul class="pager">
    <li class="previous"><a ui-sref="quest1({ uid: uid_ })">&larr; Back</a></li>
    <li class="next"><a ng-click="goToQuest3()">Next &rarr;</a></li>
</ul>
