<h2>Part 2: Industry & Business Overview</h2>

<div class="question-container">
    <p>7.ในการเลือกทำงานร่วมกับเอเยนซี่ ข้อใดคือปัจจัยที่ลูกค้าใช้พิจารณาในการคัดเลือกเอเยนซี่ <b>กรุณาระบุ 3 อันดับแรกที่มีความสำคัญที่สุด</b></p>

    <ul>
       <ul>
        <li>
            <input type="checkbox" checklist-model="ans7" value="1" /><span class="choice">Strategy</span></li>
        <li>
            <input type="checkbox" checklist-model="ans7" value="2" /><span class="choice">Media Planning</span></li>
        <li>
            <input type="checkbox" checklist-model="ans7" value="3" /><span class="choice">Creative</span></li>
        <li>
            <input type="checkbox" checklist-model="ans7" value="4" /><span class="choice">Innovation</span></li>
        <li>
            <input type="checkbox" checklist-model="ans7" value="5" /><span class="choice">Buying efficiency</span></li>
        <li>
            <input type="checkbox" checklist-model="ans7" value="6" /><span class="choice">Client servicing</span></li>
        <li>
            <input type="checkbox" checklist-model="ans7" value="7" /><span class="choice">Work exclusively with client/Dedicated Resource</span></li>
    </ul>
    </ul>
</div>

<ul class="pager">
    <li class="previous"><a ui-sref="quest6({ uid: uid_ })">&larr; Back</a></li>
    <li class="next"><a ng-click="goToQuest8()">Next &rarr;</a></li>
</ul>
