<h2>Part 2: Industry & Business Overview</h2>

<div class="question-container">
    <p>4.1 กรุณาระบุจำนวนลูกค้าทั้งหมดที่เกี่ยวข้องกับงานด้านสื่อดิจิทัล <input type="text" ng-model="ans4_1" class="form-control answer-box" />ราย</p>
</div>

<div class="question-container">
    <p>4.2 โดยทั่วไป สัญญาที่เอเยนซี่ทำกับลูกค้ามีหลายรูปแบบ เช่น สัญญาระยะสั้น/ยาว โปรดระบุจำนวนลูกค้าที่คุณมีอยู่ทั้งหมดจำนวน {{ans4_1}} ราย แยกตามรูปแบบของสัญญา</p>

    <ul>
        <li>
            ไม่มีสัญญา 
            <input type="text" ng-model="ans4_2[1]" numbers-only class="form-control answer-box" />ราย</li>
        <li>
            สัญญา adhoc project by project
            <input type="text" ng-model="ans4_2[2]" numbers-only class="form-control answer-box" />ราย</li>
        <li>
            Retainer แต่ระยะเวลา < 6 เดือน
            <input type="text" ng-model="ans4_2[3]" numbers-only class="form-control answer-box" />ราย</li>
        <li>
            Retainer 6-11 เดือน
            <input type="text" ng-model="ans4_2[4]" numbers-only class="form-control answer-box" />ราย</li>
        <li>
            Retainer 12-23 เดือน
            <input type="text" ng-model="ans4_2[5]" numbers-only class="form-control answer-box" />ราย</li>
        <li>
            Retainer 24- 35 เดือน
            <input type="text" ng-model="ans4_2[6]" numbers-only class="form-control answer-box" />ราย</li>
        <li>
            Retainer 36 เดือนหรือมากกว่า
            <input type="text" ng-model="ans4_2[7]" numbers-only class="form-control answer-box" />ราย</li>
        <li>
            Retainer แต่ไม่มีกำหนดสิ้นสุด
            <input type="text" ng-model="ans4_2[8]" numbers-only class="form-control answer-box" />ราย</li>
    </ul>
</div>

<ul class="pager">
    <li class="previous"><a ui-sref="quest3({ uid: uid_ })">&larr; Back</a></li>
    <li class="next"><a ng-click="goToQuest5()">Next &rarr;</a></li>
</ul>
