<h2>Part 2: Industry & Business Overview</h2>

<div class="question-container">
    <p>1.ในมุมมองของคุณ ข้อใดคืออุปสรรคที่ทำให้ลูกค้ายังไม่ใช้เงินกับโฆษณาดิจิทัลในสัดส่วนที่มากอย่างที่ควรจะเป็น(ตอบได้มากกว่า 1 ข้อ)</p>

    <ul>
        <li>
            <input type="checkbox" checklist-model="ans1" value="1" /> <span class="choice">ผู้ใช้ อินเตอร์เน็ต ส่วนมากมีกำลังซื้อไม่สูง</span></li>
        <li>
            <input type="checkbox" checklist-model="ans1" value="2" /> <span class="choice">นักการตลาดยังไม่มีความเข้าใจในการตั้งเป้าหมายของสื่อดิจิทัล จึงทำให้ไม่แน่ใจในวัดผลว่าอย่างไรจึงจะเรียกว่าประสบความสำเร็จ</span></li>
        <li>
            <input type="checkbox" checklist-model="ans1" value="3" /> <span class="choice">ขาดข้อมูลด้านการใช้จ่ายเงิน (spending) ของแต่ละสื่อ ในอุตสาหกรรมสื่อดิจิทัล</span></li>
        <li>
            <input type="checkbox" checklist-model="ans1" value="4" /> <span class="choice">ขาดข้อมูลด้านการวัดและประเมินประสิทธิภาพของสื่อ ในอุตสาหกรรมสื่อดิจิทัล</span></li>
        <li>
            <input type="checkbox" checklist-model="ans1" value="5" /> <span class="choice">แบรนด์เอเยนซี่ หรือ มีเดียเอเยนซี่ที่เชี่ยวชาญด้านสื่อออฟไลน์ ขาดองค์ความรู้ที่เพียงพอทางด้านสื่อออนไลน์ จึงทำให้ไม่สามารถแนะนำการใช้สื่อออนไลน์แก่ลูกค้าได้อย่างเหมาะสม</span></li>
        <li>
            <input type="checkbox" checklist-model="ans1" value="6" /> <span class="choice">สื่อดิจิทัลยังไม่สามารถเข้าถึงคนได้มากพอ</span></li>
        <li>
            <input type="checkbox" checklist-model="ans1" value="7" /> <span class="choice">งานวิจัยหรือเครื่องมือในการวางแผน สื่อดิจิทัล ยังมีน้อย</span></li>
    </ul>
</div>

<ul class="pager">
    <li class="next"><a ng-click="goToQuest2()">Next &rarr;</a></li>
</ul>
