<h2>Part 2: Industry & Business Overview</h2>

<div class="question-container">
    <p>10.ระดับความรู้ความเข้าใจในดิจิทัลข้อใดต่อไปนี้ที่ควรได้รับการปรับปรุงและพัฒนา</p>
</div>

<div class="question-container">
    <p>10.1 ข้อใดต่อไปนี้ที่เอเยนซี่มองว่า<b><u>บุุคลากรในทีมรวมทุกระดับ</u></b>ยังขาดความรู้ความเข้าใจในงานดิจิทัลและควรได้รับการพัฒนา (ตอบได้มากกว่า 1 ข้อ)</p>

    <ul>
        <li>
            <input type="checkbox" checklist-model="ans10_1" value="1" /><span class="choice">Strategy</span></li>
        <li>
            <input type="checkbox" checklist-model="ans10_1" value="2" /><span class="choice">Media</span></li>
        <li>
            <input type="checkbox" checklist-model="ans10_1" value="3" /><span class="choice">Creative </span></li>
        <li>
            <input type="checkbox" checklist-model="ans10_1" value="4" /><span class="choice">Search</span></li>
        <li>
            <input type="checkbox" checklist-model="ans10_1" value="5" /><span class="choice">Social</span></li>
        <li>
            <input type="checkbox" checklist-model="ans10_1" value="6" /><span class="choice">Production</span></li>
        <li>
            <input type="checkbox" checklist-model="ans10_1" value="7" /><span class="choice">Data</span></li>
        <li>
            <input type="checkbox" checklist-model="ans10_1" value="8" /><span class="choice">Innovation Technology</span></li>
    </ul>
</div>

<div class="question-container">
    <p>10.2  ข้อใดต่อไปนี้ที่เอเยนซี่มองว่า<b><u>ลูกค้า</u></b>ยังขาดความรู้ความเข้าใจในงานดิจิทัลและควรได้รับการพัฒนา (ตอบได้มากกว่า 1 ข้อ)</p>

    <ul>
        <li>
            <input type="checkbox" checklist-model="ans10_2" value="1" /><span class="choice">Strategy</span></li>
        <li>
            <input type="checkbox" checklist-model="ans10_2" value="2" /><span class="choice">Media</span></li>
        <li>
            <input type="checkbox" checklist-model="ans10_2" value="3" /><span class="choice">Creative </span></li>
        <li>
            <input type="checkbox" checklist-model="ans10_2" value="4" /><span class="choice">Search</span></li>
        <li>
            <input type="checkbox" checklist-model="ans10_2" value="5" /><span class="choice">Social</span></li>
        <li>
            <input type="checkbox" checklist-model="ans10_2" value="6" /><span class="choice">Production</span></li>
        <li>
            <input type="checkbox" checklist-model="ans10_2" value="7" /><span class="choice">Data</span></li>
        <li>
            <input type="checkbox" checklist-model="ans10_2" value="8" /><span class="choice">Innovation Technology</span></li>
    </ul>
</div>

<ul class="pager">
    <li class="previous"><a ui-sref="quest9({ uid: uid_ })">&larr; Back</a></li>
    <li class="next"><a ng-click="goToThankYou2()">Submit</a></li>
</ul>
