<h2>Part 2: Industry & Business Overview</h2>

<div class="question-container">
    <p>6.ใจากจำนวนลูกค้าทั้งหมด {{ans4_1}} ราย ที่คุณมีอยู่ กรุณาระบุจำนวนลูกค้าตามประเภทของการอนุญาตให้เข้าถึงหรือถือครองข้อมูล เช่น cookies, website stat เป็นต้น (ผลรวมของคำตอบต้องเท่ากับจำนวนลูกค้าด้านสื่อดิจิทัลทั้งหมดที่คุณมีอยู่)</p>

    <!--<ul>
        <li>
            a.ยอมให้ access to data
            <input type="text" ng-model="ans6[1]" numbers-only class="form-control answer-box" />ราย ไม่ยอม
            <input type="text" ng-model="ans6[2]" numbers-only class="form-control answer-box" />ราย ไม่ทราบ/ไม่ระบุ
            <input type="text" ng-model="ans6[3]" numbers-only class="form-control answer-box" />ราย
        </li>
        <li>
            b.ยอมให้เอเยนซี่ own data
            <input type="text" ng-model="ans6[4]" numbers-only class="form-control answer-box" />ราย ไม่ยอม
            <input type="text" ng-model="ans6[5]" numbers-only class="form-control answer-box" />ราย ไม่ทราบ/ไม่ระบุ
            <input type="text" ng-model="ans6[6]" numbers-only class="form-control answer-box" />ราย
    </ul>-->

    <ul>
        <li>
            1.	ลูกค้าที่ไม่อนุญาตให้เอเยนซี่เข้าถึง หรือ ถือครองข้อมูล จำนวน
            <input type="text" ng-model="ans6[1]" numbers-only class="form-control answer-box" />
            ราย
        </li>
        <li>
            2.	ลูกค้าที่อนุญาตให้เอเยนซี่เข้าถึงข้อมูล แต่ไม่ให้ถือครองข้อมูล จำนวน 
            <input type="text" ng-model="ans6[2]" numbers-only class="form-control answer-box" />
            ราย
        </li>
        <li>
            3.	ลูกค้าที่อนุญาตให้เอเยนซี่เข้าถึงและถือครองข้อมูล จำนวน
            <input type="text" ng-model="ans6[3]" numbers-only class="form-control answer-box" />
            ราย
        </li>
    </ul>
</div>

<ul class="pager">
    <!--<li class="previous"><a ui-sref="quest5({ uid: uid_ })">&larr; Back</a></li>-->
    <li class="next"><a ng-click="goToQuest7()">Next &rarr;</a></li>
</ul>