<h2>Digital Ad Spending Survey 2016-2017</h2>

<br/>

<p>Welcome to Thailand Digital Advertising Spend survey for year 2016-2017. This survey consists of 2 parts; Digital Ad Spending and Industry & Business Overview. Please complete both part by following the instructions below strictly.</p>

<p>Important note: this is an online application operating through an anonymous process to ensure the confidentiality to your client’s information. Once the data is submitted, it cannot be revised. Please carefully review your data before submission.</p>

<strong>Instructions</strong>
<ol>
    <li>Please prepare the Digital Ad Spending Survey for 2016(Actual)-2017(FC) in the excel sheets provided before proceed.</li>
    <li>Click <strong>“Browse File to Verify”</strong> button to select the excel file. Please note that only excel file with .xls and .xlsx are acceptable.</li>
    <li>Click <strong>“Verify Data”</strong> button to start the data verification process.</li>
    <li>Verify your data in the preview page and click <strong>“Submit Data”</strong>. Then, continue to part 2 of the survey for questionnaires submission.</li>
    <li>If an error is detected, please make necessary changes in your excel file and submit your data again.</li>
</ol>

<p><strong class="text-danger">If you have any problems submitting the survey, please contact the TNS Thailand representative (K.Oui): 02 640 7188 or 061 546 9566 or natthaporn.yaemsri@tnsglobal.com</strong></p>

<br/>

<p>ยินดีต้อนรับท่านเข้าสู่การทำแบบสำรวจข้อมูลงบประมาณโฆษณาดิจิทัลประจำปี 2559-2560 โดยแบบสำรวจนี้จะถูกแบ่งออกเป็น 2 ส่วนได้แก่ งบประมาณการซื้อโฆษณาดิจิทัล และ ภาพรวมของธุรกิจโฆษณาดิจิทัล ขอความกรุณาตอบแบบสอบถามให้ครบทั้ง 2 ส่วนโดยทำตามขั้นตอนด้านล่างอย่างเคร่งครัด</p>

<p>โปรดทราบ: ขั้นตอนการทำแบบสำรวจนี้จะดำเนินไปในรูปแบบนิรนามเพื่อเป็นการปกป้องข้อมูลสำคัญของลูกค้าของท่าน โปรดใช้ความระมัดระวังในการเตรียมข้อมูลก่อนส่งแบบสอบถาม เมื่อท่านทำการส่งข้อมูลแล้วจะไม่สามารถแก้ไขใดๆได้</p>

<strong>ขั้นตอนการทำแบบสำรวจ</strong>
<ol>
    <li>กรุณาเตรียมข้อมูลงบประมาณโฆษณาดิจิทัลประจำปี 2559(Actual) และสำหรับปี 2560(FC) ในเอกสาร excel ที่ทาง TNS แจกให้ก่อนเริ่มดำเนินการ</li>
    <li>คลิกที่ปุ่ม <strong>“Browse File to Verify”</strong> เพื่อทำการเลือกไฟล์ในคอมพิวเตอร์ของท่าน ระบบรองรับไฟล์นามสกุล xls และ xlsx เท่านั้น</li>
    <li>จากนั้น คลิกที่ปุ่ม <strong>“Verify Data”</strong> เพื่อเข้าสู่กระบวนการตรวจสอบข้อมูล</li>
    <li>ตรวจสอบข้อมูลของท่านจากหน้าจอคอมพิวเตอร์อย่างละเอียด เมื่อไม่มีข้อบกพร่องใดๆให้คลิก <strong>“Submit Data”</strong> เพื่อทำการส่งข้อมูล จากนั้นระบบจะนำท่านไปสู่การตอบคำถามในส่วนที่ 2 </li>
    <li>ในกรณีที่พบข้อมูลผิดพลาด กรุณาทำการแก้ไขในเอกสาร excel และจึงส่งข้อมูลเข้าระบบมาตรวจสอบอีกครั้ง</li>
</ol>

<p><strong class="text-danger">หากท่านมีปัญหาในการเตรียมแบบสำรวจและการส่งข้อมูล กรุณาติดต่อตัวแทนของ TNS คุณอุ้ย ที่ 02 640 7188 หรือ 061 546 9566 หรือส่งอีเมลมาที่ natthaporn.yaemsri@tnsglobal.com</strong></p>

<div class="text-center">
    <button ng-click="goToBrowse()" class="btn btn-danger">Start</button>
</div>

<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-body">
        <p>You have completed both parts of the Digital Ad Spending Survey 2016-2017. Thank you for your kind cooperation.</p>
        <br/>
        <p>โปรดทราบ ท่านได้ทำแบบสำรวจข้อมูลงบประมาณโฆษณาดิจิทัลประจำปี 2559-2560 เรียบร้อยแล้วทั้ง 2 ส่วน ขอบคุณสำหรับความร่วมมือของท่าน</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" ng-click="cancel()">Close</button>
    </div>
</script>
