<style>
.header {
	background-color: #ccc;
}
</style>

<div style="margin-top: 100px;">
	<pre>{ direct: 10, adnetwork: 20, programetic: 70 }</pre>
	<table class="table table-bordered">
		<tr class="header">
			<td class="text-center">Direct(%)</td>
			<td class="text-center">Ad Network(%)</td>
			<td class="text-center">Programetic(%)</td>
		</tr>
		<tr>
			<td class="text-center">10%</td>
			<td class="text-center">20%</td>
			<td class="text-center">70%</td>
		</tr>
	</table>
</div>

<div style="margin-top: 30px;">
	<pre>{ display: { value: 50, desktop: 10, mobile: 90 }, video: { value: 50, desktop: 60, mobile: 40 } }</pre>
	<table class="table table-bordered">
		<tr class="header">
			<td colspan="2" class="text-center">Display(%)</td>
			<td colspan="2" class="text-center">Vedio(%)</td>
		</tr>
		<tr>
			<td colspan="2" class="text-center">50%</td>
			<td colspan="2" class="text-center">50%</td>
		</tr>
		<tr class="header">
			<td class="text-center">Desktop(%)</td>
			<td class="text-center">Mobile(%)</td>
			<td class="text-center">Desktop(%)</td>
			<td class="text-center">Mobile(%)</td>
		</tr>
		<tr>
			<td class="text-center">10%</td>
			<td class="text-center">90%</td>
			<td class="text-center">60%</td>
			<td class="text-center">40%</td>
		</tr>
	</table>
</div>

<div style="margin-top: 30px;">
	<pre>{ display: 10, video: 90 }</pre>
	<table class="table table-bordered">
		<tr class="header">
			<td class="text-center">Display(%)</td>
			<td class="text-center">Video(%)</td>
		</tr>
		<tr>
			<td class="text-center">10%</td>
			<td class="text-center">90%</td>
		</tr>
	</table>

</div>

<div style="margin-top: 30px;">
	<pre>{ video: 10, banner: 20, social: 70 }</pre>
	<table class="table table-bordered">
		<tr class="header">
			<td class="text-center">Online Video Production(%)</td>
			<td class="text-center">Web Banner & App Production(%)</td>
			<td class="text-center">Social Media Platform Management(%)</td>
		</tr>
		<tr>
			<td class="text-center">10%</td>
			<td class="text-center">20%</td>
			<td class="text-center">70%</td>
		</tr>
	</table>
</div>